.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    border: 4px solid black;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.hamburger--slider .hamburger-inner {
    top: 10px;
}

.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
    left: 0;
}

.hamburger-inner:before {
    top: -10px;
}

/* .hamburger--slider .hamburger-inner:after {
    top: 20px;
} */

.hamburger-inner:after {
    bottom: -10px;
}

@media only screen and (min-width: 800px){
    .hamburger{
        display: none;
    }
}